html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    width: 100%;
    background: linear-gradient(25deg, transparent 80%, #0b559c 50%), linear-gradient(160deg, transparent 70%, #0b559c 50%), linear-gradient(45deg, #b6d43b 90%, transparent 65%);
}

.footer{
    background-color: white;
}

.container-fluid {
    justify-content: space-between;

}
.navbar{
background-color: cadetblue;
}

.nav-item {
    font-size: 2rem;
    font-family: "Sofia", sans-serif;
    font-style: italic;
    background-color: azure;
}
.logo{
    background-color: azure;
    border-radius: 20px;
}

.cabecalho {
    max-height: 200px;
    width: 60%;
    max-width: 600px;
}
.container {
    width: auto;
    justify-content: center;
    
}


.carousel-item > img {
    border-radius: 50px;
}

.main_text {
    font-family: "Sofia", sans-serif;
    font-style: italic;
    font-size: 1.1rem;
    text-align: justify;
    background-color: azure;
    border-radius: 25px;
    padding-left: 10px;
    margin-top: 10px;
}

p {
    text-justify:auto;
    text-align:center;
    margin-top: 10px;
}
.title {
    text-align: center;
}


@media (min-width: 576px) {
    .main_text {
        font-family: "Sofia", sans-serif;
        font-style: italic;
        font-size: 2rem;
        text-align: center;
        background-color: azure;
        border-radius: 25px;
        padding-left: 10px;
    }

    p {
        text-align: center;
        font-family: "Sofia", sans-serif;
    }
    
}
@media (min-width: 1000px){
    .container {
        display: flex;
        align-content:center;
    }
}
