@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main_text">
    </br></br>
    <h1 class="title">Araruama Que Eu Quero</h1>
    </br></br>
    <p>

        Araruma é uma cidade rica em belezas naturais, cultura e história.</br>
        É um lugar que oferece muito para seus moradores e visitantes. Mas, como qualquer cidade, Araruama também tem seus desafios.</br>

        O projeto "Araruama que eu quero" é uma iniciativa nossa que visa construir uma cidade melhor para todos. </br>
        O projeto é baseado na premissa de que a participação da população é essencial para o sucesso de qualquer transformação.
    </p></br>
    <h3 class ="title">Nosso Projeto</h3></br>
    <p>
        O projeto "Araruama que eu quero" é uma iniciativa inovadora que busca na participação da população, contribuições com ideias e sugestões para a melhoria da cidade. Isso garante que o projeto seja realmente voltado para as necessidades da população.
        </br>
        Nosso compromisso é com a Transparência, o projeto é transparente. Garantindo assim seja feito de forma honesta e responsável.
        </br>
        Nosso objetivo é a Inclusão, o projeto é inclusivo, com oportunidades para todos os moradores, independentemente de sua idade, gênero, raça ou condição social. Isso garante que o projeto beneficie toda a população.
        </br></br>
    </p>
    <h4 class="title">Portanto te convidamos à falar, nós queremos te ouvir.</h4>
    </br>
    <p Lançamos um convite para todos os moradores de Araruama, venham participar do projeto "Araruama que eu quero" .
        </br>
    Você pode contribuir com ideias e sugestões para a melhoria da cidade de diversas maneiras:
        </br></br>
        - Acesse o site do projeto e participe da consulta pública.</br>
        - Envie um e-mail para faleconosco@araruamaqueeuquero.com.br com suas ideias e sugestões.</br>
        - Participe de uma das reuniões públicas do projeto.</br>
        </br></p>
    <h5 class="title">Suas ideias são importantes para construir uma Araruama melhor para todos.</h5>
    </br>

</div>

<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/4.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

</br></br>

<div>
    <h3 style="text-align:center">Confira alguns dos depoimentos</h3></br></br>
    <div class="ratio ratio-16x9">
        <iframe class="embed-responsive-item"
                width="100%"
                height="300"
                src="~/Veronica Januario_Araruama que eu Quero_1920x1080.mp4"
                allowfullscreen>
        </iframe>
        <video width="80%" height="300" controls>
            <source src="~/Veronica Januario_Araruama que eu Quero_1920 x1080.mp4" type="video/mp4">
        </video>
    </div>
</div>

