@page
@model AraruamaQueEuQuero.Pages.ProjetoModel
@{
}
<div class="main_text pt-5">

    <h1 class="title">Nosso Projeto</h1></br>
    <p>
        O projeto "Araruama que eu quero" é uma iniciativa inovadora que busca na participação da população, contribuições com ideias e sugestões para a melhoria da cidade. Isso garante que o projeto seja realmente voltado para as necessidades da população.
        </br></br>
        Nosso compromisso é com a Transparência, o projeto é transparente. Garantindo assim seja feito de forma honesta e responsável.
        </br></br>
        Nosso objetivo é a Inclusão, o projeto é inclusivo, com oportunidades para todos os moradores, independentemente de sua idade, gênero, raça ou condição social. Isso garante que o projeto beneficie toda a população.
        </br></br>
    </p>
    <h2 class="title">Portanto te convidamos à falar, nós queremos te ouvir.</h2>
    </br>
    Lançamos um convite para todos os moradores de Araruama, venham participar do projeto "Araruama que eu quero" .
    </br>
Você pode contribuir com ideias e sugestões para a melhoria da cidade de diversas maneiras:
    </br></br>
    - Acesse o site do projeto e participe da consulta pública.</br></br>
    - Envie um e-mail para faleconosco@araruamaqueeuquero.com.br com suas ideias e sugestões.</br></br>
    - Participe de uma das reuniões públicas do projeto.</br></br>
    </p>
    <h3 class="title">Suas ideias são importantes para construir uma Araruama melhor para todos.</h3>
    </br>
</div>
